.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
}

@media screen and (min-width: 960px) {    
    .hidden-desktop {
        display: none !important;
    }
}

@media screen and (max-width: 960px) {
    .hidden-mobile {
        display: none !important;
    }
}
