
details {
    width: 100%;
    padding: 20px;
}
.tabs_1.tabs-oversized {
    width: 100%;
}

.tabs_1.tabs-dots {
    width: 100%;
}

.simple-dots {
    max-width: 200px;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.tabs_1 {
    width: 400px;
    height: 200px;    
    display: flex;
}

.tabs_1 .child-item {
    min-width: 200px;
    width: 200px;
    background-color: rgb(116, 116, 116);
    border: 1px solid #333;
}

.child-item a {
    display: block;
    height: 100%;
}

.simple-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.btn {
    display: block;
    width: 60px;
    background-color: #fff;
    height: 60px;
    border: 1px solid #000;
    cursor: pointer;
}

.btn-right {
    text-align: right;
}

.wrapper.wrapper-oversize {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    border: 1px solid sandybrown;
}

* {
    box-sizing: border-box;
}

body, html {
    font-size: 14px;
    color: #333;
}

main {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 100vw;
    max-width: 960px;
    background-color: #fafafa;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    border: 1px solid #666;
    padding: 20px;
}