
details {
    width: 100%;
    padding: 20px;
}

.js-adapt-dots {
    display: flex;
    justify-content: center;
}

.btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fafafa;
    border: 3px solid #b1b1b1;
}

section {
    border: 1px solid #333;
    padding: 20px;
}

main {    
    width: 960px;    
    padding: 50px 0;
    margin: auto;
}

@media screen and (max-width: 960px) {
    main {
        width: 100vw;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}